<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1037448469475-hlkfp0ijs7jpbugr5ki2mbi7n4ugk3t4.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1037448469475-hlkfp0ijs7jpbugr5ki2mbi7n4ugk3t4</string>
	<key>API_KEY</key>
	<string>AIzaSyBO9zpg37skNCiVwHjJ3RWoy6KYFxmf7g4</string>
	<key>GCM_SENDER_ID</key>
	<string>1037448469475</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.hari51215.Validation</string>
	<key>PROJECT_ID</key>
	<string>validation-b4a9a</string>
	<key>STORAGE_BUCKET</key>
	<string>validation-b4a9a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1037448469475:ios:a8bae3cebbb22730d71ed6</string>
</dict>
</plist>